#spacer_side_white{
    background: none;
}

#flex_water {
    background-color: white;
    width: 100%;
}

#tiny_hl{
    padding: 2vw 1vw;
}


.button_carbon_1{
    width: 50vw;
}

.button_carbon_2{
    width: 50vw;
}

#flex_carbon {
    background-color: white;
    width: 100%;
}